.container{
    background-color: lightblue;
    margin:0px;
    height:100vh;
    box-sizing: border-box;
    
}
.i{
    width:250px;
    height:150px;
}



@media (min-width:500px) and (min-width:800px){
        .fruits{
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items:center;
            margin-top: 20px;
        }
        .m{
            display:flex;
            flex-direction: column;
            padding-top: 20px;
        }
        
} 
@media (min-width:900px) and (min-width:1200px){
    .fruits{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items:center;
        
    }
    .m{
        display:flex;
        flex-direction: column;
        padding-left: 20px;
    }
    
} 